<footer>
    <div class="footer container py-4">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="footer_intro">
                    <h3 class="header text-uppercase font-weight-bold">Nhà Sách Hoàng Tử Bé</h3>
                    <a href="/">Giới thiệu về Nhà Sách Hoàng Tử Bé</a>
                    <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61571005747155">Tuyển
                        dụng</a>
                    <div class="fb-like"
                         data-href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61571005747155"
                         data-width="300px" data-layout="button" data-action="like" data-size="small"
                         data-share="true"></div>
                    <div class="footer-social-link-container">
                        <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61571005747155"
                           target="_blank" class="footer-social-link">
                            <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735186637/Facebook-logo_m1lyz6.png"
                                 alt="facebook">Facebook
                        </a>
                        <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61571005747155"
                           target="_blank" class="footer-social-link">
                            <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735265957/mail-1454734_960_720_idztzw.png"
                                 alt="gmail">Email
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer_support">
                    <h3 class="header text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h3>
                    <a href="#">Hướng dẫn đặt hàng</a>
                    <a href="#">Phương thức thanh toán</a>
                    <a href="#">Phương thức vận chuyển</a>
                    <a href="#">Chính sách đổi trả</a>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer_links">
                    <h3 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ LIÊN KẾT</h3>
                    <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735186155/Dang-ky-bo-cong-thuong_wpyeg8.png"
                         alt="dang-ky-bo-cong-thuong" class="bo-cong-thuong">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer_pay">
                    <h3 class="header text-uppercase font-weight-bold">Phương thức thanh toán</h3>
                    <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735186029/payment_method_card_visa-512_okacza.png"
                         alt="visa-payment">
                    <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735186368/MClogo-c823e495c5cf455c89ddfb0e17fc7978_oidtsu.jpg"
                         alt="master-card-payment">
                    <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735186442/jcb_emblem_logo_mev0mc.png"
                         alt="jcb-payment">
                    <img src="https://res.cloudinary.com/drutbrdge/image/upload/v1735186548/cdn.i.haymarketmedia.asia_m4s7el.png"
                         alt="atm-payment">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <hr class="footer-divider">
        <h1 class="footer-title">Nhà Sách Hoàng Tử Bé</h1>
        <p class="footer-copyright">&copy; 2024 Nhà Sách Hoàng Tử Bé.</p>
    </div>
</footer>
